.profile-dropdown-wrapper {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.user-nickname {
    margin-right: 5px;
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

.dropdown-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-top: 5px;
    margin-right: 6px;
}

.user-monogram {
    width: 35px;
    height: 35px;
    background-color: #E53935;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Oswald", Sans-serif;
    text-transform: uppercase;
    border-radius: 50%;
    font-weight: bold;
}


.dropdown-content {
    display: none;
    background-color: white;
    color: #212121;
    width: 250px;
    position: absolute;
    opacity: 0;
    top: calc(100% + 10px);
    transform: translateY(10px) translateX(-50%);  
    left: 50%; 
    z-index: 1000;
    box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.15);
    border-radius: 5px;
    transition: opacity 0.3s, transform 0.3s; 
}

.dropdown-menu-content {
    padding: 10px;
}

.dropdown-content a{
    color: #212121;
    text-transform: uppercase;
    font-family: "Oswald", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: color .3s ease;
}

.dropdown-content a:hover, .dropdown-content a:focus {
    color: inherit;
}

.current-menu-item a {
    color: inherit;
}


.dropdown-menu-content ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-menu-content ul li:not(:last-child) {
    margin-bottom: 6px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #9a9ea4; 
    background-color: #F3F3F4;
}

.header-monogram {
    width: 35px;
    height: 35px;
    background-color: #E53935;
    display: inline-flex;        
    align-items: center;   
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-family: "Oswald", Sans-serif;
    text-transform: uppercase;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
}

.header-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-nickname {
    font-family: "Roboto", Sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #212121;
}

.header-username {
    font-weight: 400;
    margin-top: -3px;
    font-family: "Roboto", Sans-serif;
    color: #212121;
    font-size: 0.813rem;
    font-style: italic;
}
